ul {
    list-style-type: none;
    display: flex;
   
}
li {
    padding: 0;
}

a {
    text-decoration: none;
    padding: 20px;
    border: 6px solid #434343;
    margin: 40px;
    border-radius: 20px 0;
    font-family: "quicksand";
    font-size: 30px;
    color: #434343;
    background-color: #F8F8F8;
}

a:hover {
    background-color: #a8a8a8;
    border-radius: 0 20px;
}


.weatherpage {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  
    
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
    mix-blend-mode:multiply;
}