<div class="container">

<h1>This is Egypt</h1>

<img class="hiero" src="./assets/img/ancient-egyptian-mummy-sketch-vector-28850756.jpeg" alt="hieroglyphics">

<div class="content">
<h3> Our Aim:</h3>
<p>The aim of this website is to inform visitors more about tourism in Egypt. The Cities tab will inform you more about Egyptian cities, the Weather tab will display the weather in certain Egyptian areas. Finally, the Tech ideas tab will display a form the might fill if they have a technical idea to improve tourism in Egypt.
</p>
</div>
<img [src]="pyramidsUrl">

</div>

